# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
instance/
env/
venv/
.venv/

# Logs
*.log

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Testes e Debug
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Configurações do Sistema
.DS_Store
Thumbs.db
*.tmp

# Arquivos específicos de ambiente
.env
*.local

# Node.js (caso use ferramentas de frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do Git
!.gitignore
